

/*/////////////Global///////////////*/
.image-holder {
    overflow: hidden;
    height: 100%;
}
.image-holder img {
    width: 100%;
}
.page-wraper {
    background: #f1f1f1;
    padding-bottom: 100px;
}


/*//likes-counter//*/
 .likes-counter {
    position: absolute;
    top: 20px;
    right: 9px;
}
.likes-counter .image-holder {
    text-align: right;
}
.likes-counter .image-holder img {
    height: 27px;
    width: 31px;
    display: inline-block;
}
.likes-counter .text-holder {
    color: white;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
}

/*////top-bunner//////*/
.top-bunner {
    text-align: center;
}

/*//user-line//*/
.user-line {
    background: #fff;
}
.user-line .left-block {
    float: left;
    padding-left: 111px;
    position: relative;
    padding-bottom: 20px;
}
.user-line .navbar-default {
    border: none;
    margin-bottom: 0;
}
.user-line .left-block h1 {
    font-family: Roboto;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #010101;
    margin-top: 24px;
    margin-bottom: 0px;
}
.user-line .left-block h1 .color {
    color: #d95600;
}
.user-line .left-block h2 {
    color: black;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 16px;
}
.user-line .logo-block {
    position: absolute;
    left: 20px;
    top: 20px;
    padding-bottom: 31px;
}
.user-line .logo-block:after {
    content: "";
    width: 99px;
    height: 11px;
    background-color: #f1f1f1;
    bottom: 0px;
    left: -12px;
    position: absolute;
}
.user-line .left-block .caret,
.user-line .right-block .caret {
    color: #909090;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.user-line .right-block .caret {
    margin-left: 11px;
}
.user-line .btn-default {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding-left: 0;
}
.user-line .right-block {
    float: right;
}
.user-line .right-block .image-holder {
    height: 69px;
    width: 69px;
    margin-top: 32px;
    float: right;
    margin-right: 9px;
}
.user-line .btn-default {
    background: transparent;
}
.user-line .right-block .btn-default  {
    padding-top: 1px;
    margin-right: 0;
    padding-right: 7px;
}
.user-line .btn-default:hover,
.user-line .btn-default:focus,
.user-line .btn-default:active,
.user-line .btn-default.active,
.user-line .open > .dropdown-toggle.btn-default {
    background: #fff;
    outline: none;
    box-shadow: none;
}
.user-line .open > .dropdown-menu {
    border-radius: 0;
}
.user-line .navbar-right input {
    border: none;
    box-shadow: none;
    padding-right: 5px;
    padding-top: 14px;
}
.user-line .navbar-right button {
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff;
    outline: none;
}
.user-line .navbar-right  {
    border-bottom: 4px solid #e8e8e8;
}
.user-line form.navbar-form.navbar-left {
    margin-bottom: 0;
    margin-top: 7px;
    padding-right: 3px;
}
.user-line .navbar-right input::-webkit-input-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
.user-line .navbar-right input::-moz-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
.user-line .navbar-right input:-moz-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
.user-line .navbar-right input:-ms-input-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;

}

/*//main-navbar//*/
.main-navbar {
    margin-left: -22px;
}
.main-navbar .navbar-nav > li > a {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 19px;
    padding-top: 15px;
    padding-bottom: 27px;
}
.main-navbar .navbar-nav > li.active > a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 99px;
    height: 11px;
    background-color: #d95600;
}
.main-navbar .navbar-default .navbar-nav > .active > a,
.main-navbar .navbar-default .navbar-nav > .active > a:hover,
.main-navbar .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

/*//week-events//*/


/*////days-pager//*/
.days-pager {
    padding-top: 40px;
}
.days-pager h1 {
    color: #454545;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    margin-left: 6px;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
}
.days-pager ul {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
}
.days-pager ul li {
    padding-right: 14px;
    padding-left: 8px;
    text-align: center;
    position: relative;
}
.days-pager ul li:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #d3d3d3;
    right: 1px;
    bottom: 7px;
}
.days-pager ul li:last-child:after {
    display: none;
}
.days-pager ul li p {
color: #454545;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 24px;
    margin-top: 6px;
}
.days-pager ul li span {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
}
.days-pager ul li.active span {
    color: #d95600;
}


/*////events-block//*/
.events-block .events-holder {
    width: 985px;
    background: #000;
    margin-left: 7px;
    padding-left: -7px;
    float: left;
}
.events-block .events-wraper {
    margin-top: -7px;
    margin-left: -7px;
    margin-bottom: -7px;
    width: 999px;
    float: left;
}
.events-block .banners-wraper {
    float: left;
}
.events-block .event-plit {
    margin: 7px;
    float: left;
    height: 450px;
    width: 234px;
    position: relative;
}
.events-block .event-plit > .image-holder {
    position: absolute;
}
.events-block .event-plit .content-holder {
    z-index: 1;
    position: relative;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+40,000000+100&0+49,0.71+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 40%, rgba(217,217,217,0) 49%, rgba(0,0,0,0.71) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5000000',GradientType=0 ); /* IE6-9 */
}
.events-block .event-plit.lg {
    width: 489px;
}
.banners-wraper .side-bunner-1 {
    height: 450px;
    margin-bottom: 14px;
    margin-left: 14px;
}
.banners-wraper .side-bunner-2 {
    margin-bottom: 14px;
    margin-left: 14px;
}
.banners-wraper .side-bunner-2 > .image-holder {
    height: 176px;
}
/*/social-holder/*/
.banners-wraper .side-bunner-2 .social-holder {
    margin-top: 1px;
    height: 273px;
}
.banners-wraper .side-bunner-2 .social-holder .soc-header {
    background: #ddd;
    position: relative;
    padding-right: 30px;
}
.banners-wraper .side-bunner-2 .social-holder .bott-desc {
    background: #ddd;
    position: relative;
    padding: 6px;
    padding-left: 49px;
}
.banners-wraper .side-bunner-2 .social-holder .bott-desc p a {
    color: #282a2d;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
    margin-bottom: 4px;
    padding-top: 3px;
    text-decoration: none;
}
.banners-wraper .side-bunner-2 .social-holder .soc-header p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 0px;
    margin-left: 13px;
    padding-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 3px;
}
.banners-wraper .side-bunner-2 .social-holder .soc-header .image-holder {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
} 
.banners-wraper .side-bunner-2 .social-holder .nav-tabs > li {
    width: 50%;
    text-align: center;
    border: none;
}
.banners-wraper .side-bunner-2 .social-holder .nav-tabs > li a {
    border: none;
    color: #282a2d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
    padding: 7px;
}
.banners-wraper .side-bunner-2 .social-holder .nav-tabs > li.active a {
    border-bottom: 1px solid #929292;
    color: #282a2d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
    background: #ddd;
}
.event-plit .content-holder .type-event-list {
    max-width: 162px;
    height: 204px;
    overflow: hidden;
    padding-top: 19px;
    padding-left: 11px;
}
.event-plit.lg .content-holder .type-event-list {
    padding-left: 16px;
}
.event-plit .content-holder {
    /*padding: 19px 18px 21px 16px;*/
} 
.event-plit .content-holder {

}
.event-plit .content-holder .type-event-list ul li {
    margin-bottom: 6px;
}
.event-plit .content-holder .type-event-list ul li a {
    padding: 3px;
    padding-left: 9px;
    padding-right: 12px;
    border-radius: 4px;
    background: #6ebe00;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid #fff;
    text-decoration: none;
    max-width: 161px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -1.5px;
}
.event-plit .content-holder .type-event-list ul li.bg-none a {
    background: transparent;
}
.event-plit .content-holder .bott-desc {

}
.event-plit .content-holder .bott-desc h1 {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
    background: #000;
    max-width: 209px;
    display: inline-block;
    margin: 0;
    position: absolute;
    bottom: 0;
}
.event-plit .content-holder .bott-desc .h-holder {
    margin-top: 54px;
    margin-left: 7px;
    margin-bottom: 10px;
    min-height: 48px;
    max-height: 48px;
    overflow: hidden;
    position: relative;
} 
.event-plit.lg .content-holder .bott-desc .h-holder {
    max-width: 420px;
    max-height: 68px;
    min-height: 68px;
    margin-left: 13px;
    margin-top: 53px;
    padding-left: 1px;
}
.event-plit.lg .content-holder .bott-desc h1 {
    font-size: 30px;
    line-height: 34px;
    max-width: 420px;
}
.event-plit .content-holder .detailed-desc-holder {
    padding-top: 24px;
    background: #fff;
    height: 122px;
    padding-left: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.event-plit.lg .content-holder .detailed-desc-holder {
    background: transparent;
}
.event-plit .content-holder .detailed-desc-holder ul li {
    position: relative;
    color: #454545;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 300;
    padding-left: 32px;
}
.event-plit .content-holder .detailed-desc-holder ul li p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: -0.1px;
}
.event-plit.lg .content-holder .detailed-desc-holder ul li {
    color: #fff;
}
.event-plit .content-holder .detailed-desc-holder ul li img {
    position: absolute;
    top: 0;
    left: 0;
}
.event-plit .content-holder .detailed-desc-holder ul li:last-child img {
    margin-left: 3px;
} 
.event-plit.lg .content-holder .likes-counter {
    bottom: 19px;
    top: auto;
    right: 19px;
}

/*//insftitutions//*/
.insftitutions h1 {
    color: #454545;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 14px;
}
.insftitutions .insftitutions-plit {
    height: 460px;
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;

}
.insftitutions .insftitutions-plit .content-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+22,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(240,249,255,0) 0%, rgba(240,249,255,0.14) 22%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(240,249,255,0.14) 22%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(240,249,255,0) 0%,rgba(240,249,255,0.14) 22%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 50%;
    text-align: center; 
    margin: 0 auto;
    margin-top: 121px;
    overflow: hidden;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder img {
    margin-top: 30px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.strawberry img {
    display: inline-block;
    margin-top: 24px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.coffee img {
    margin-top: 15px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.cup img {
    margin-top: 10px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.hi-h img {
    margin-top: 29px;
} 
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.bear img  {
    margin-top: 11px;
}
.insftitutions .insftitutions-plit .content-holder h1 {
    background: rgba(0, 0, 0, 0.63);
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: -0.1px;
    line-height: 34px;
    padding-top: 0px;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 4px;
    max-height: 72px;
    min-height: 72px;
    overflow: hidden;
}
.insftitutions .insftitutions-plit .content-holder .small-desc-holder {
    text-align: center;
    margin-top: 46px;
}
.insftitutions .insftitutions-plit .content-holder .small-desc-holder p {
    color: white;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    max-height: 67px;
    overflow: hidden;
}
/*//events-strip//*/
.events-strip {

} 
.strip-block {
    height: 514px;
    background: #e5e5e5;
    margin-top: 7px;
    margin-bottom: 14px;
    position: relative;
    padding-top: 114px;
}
.strip-block.edit-choice {
    outline: 3px solid #3d95c2;
}
.strip-block .top-part {
    position: absolute;
    top: 0;
    max-height: 133px;
    width: 100%;
    background: #e5e5e5;
}
.strip-block .img-part {
    height: 198px;
    position: relative;
}
.strip-block .img-part .img-wraper  {
    position: absolute;
    bottom: 0;
} 
.strip-block .img-part .content-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+40,000000+100&0+49,0.71+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 40%, rgba(217,217,217,0) 49%, rgba(0,0,0,0.71) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5000000',GradientType=0 ); /* IE6-9 */
}
.strip-block .img-part .content-holder .likes-counter {
    bottom: 9px;
    right: 15px;
    top: auto;
}
.strip-block .img-part .content-holder .likes-counter span {
    font-family: Lora;
    font-style: italic;
}
.strip-block .bott-part {
    text-align: left;
    padding: 5px 18px 21px 18px;
}
.strip-block .bott-part p {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-height: 85px;
    overflow: hidden;
}
.strip-block .bott-part .ev-list {
    margin-top: 24px;
}
.strip-block .bott-part .ev-list li {
    color: #454545;
    font-family: Lora;
    font-size: 12px;
    font-style: italic;
    padding-left: 26px;
    position: relative;
    margin-bottom: 11px;
}
.strip-block .bott-part .ev-list li img {
    position: absolute;
    left: 0;
    top: -10px;
}
.strip-block .bott-part .ev-list li img.type-1 {
    top: -2px;
}
.strip-block .bott-part .ev-list li img.type-2 {
    left: -2px;
}
.strip-block .bott-part .ev-list li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 98%;
    display: inline-block;
}
.strip-block .top-part .h-holder {
    text-align: center;
}
.strip-block.edit-choice .top-part .h-holder h5 {
    margin-top: 5px;
}
.strip-block .top-part .h-holder h5 {
    color: #454545;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    margin-top: 14px;
    line-height: 24px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.strip-block .top-label {
    text-align: center;
}
.strip-block .top-label img {
    width: 138px;
    display: inline-block;
    margin-top: 14px;
    margin-left: 4px;
}
.strip-block.edit-choice .top-label img {
    margin-top: 6px;
    margin-left: -1px;
    width: 170px;
}