

/*/////////////Global///////////////*/
h1.type-1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    color: #454545;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 5px;
}
ul {
    list-style: none;
}
hr.type-1 {
    margin-top: 7px;
    border-color: #000;
    margin-bottom: 5px;
}
.image-holder {
    overflow: hidden;
    height: 100%;
}
.image-holder img {
    width: 100%;
}
.page-wraper {
    background: #f1f1f1;
}
.white-wraper {
    background: #fff;
}
.white-wraper.gray {
    background: #f1f1f1;
}
.page-wraper.card-zavedeniya {
    background: url(../img/content/wraper-bg-1.jpg);
    background-size: cover;
}
.pd-rt-cnl {
    padding-right: 0;
}
.t-label {
    position: absolute;
    bottom: -25px;
    left: 48px;
}
/*//likes-counter//*/
 .likes-counter {
    position: absolute;
    top: 20px;
    right: 9px;
}
.likes-counter .image-holder {
    text-align: right;
}
.likes-counter .image-holder img {
    height: 27px;
    width: 31px;
    display: inline-block;
}
.likes-counter .text-holder {
    color: white;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
}
.poster-likes {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-style: italic;
    text-align: right;
    position: relative;
    padding-right: 28px;
}
.poster-likes img {
    margin-left: 10px;
    max-width: 25px;
    position: absolute;
    right: 1px;
    top: -6px;
}
.angles-holder img {
    position: absolute;
}
.angles-holder img.left-top {
    top: -3px;
    left: -3px;
}
.angles-holder img.left-bottom {
    bottom: -3px;
    left: -3px;
}
.angles-holder img.right-top {
    top: -3px;
    right: -3px;
}
.angles-holder img.right-bottom {
    bottom: -3px;
    right: -3px;
}
/*////////////////footer///////////////*/
.footer {
    height: 1041px;
    background: url(../img/content/summer.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 63px;
}
.footer.spring {
    background: url(../img/content/spring-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}
.footer .f-top-bord {
    border-top: 3px solid black;
    margin-top: 11px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 19px;
}
.footer .search-line {
    text-align: center;
}
.footer .search-line .h-holder {
    max-width: 850px;
    display: inline-block;
}
.footer .search-line h1 {
    color: black;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 7px;
}
.footer .search-line h2 {
    color: #010101;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 37px;
}
.footer .search-line .form-group {
    position: relative;
    padding-right: 65px;
    display: inline-block;
    width: 360px;
}
.footer .search-line .form-group input {
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 19px;
}
.footer .search-line .form-group .icon-holder {
    position: absolute;
    padding-top: 12px;
    right: 0;
    top: 0;
    width: 66px;
    background: #ed2029;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    height: 50px;
}
.footer .f-content {
    margin-top: 70px;
}
.footer .f-content .f-logo {
    position: relative;
    padding-left: 90px;
    padding-top: 62px;
}
.footer .f-content .f-logo img {
    position: absolute;
    top: 8px;
    left: 19px;
}
.footer .f-content .f-logo h1 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    position: relative;
    right: -11px;
}
.footer .f-content .f-logo h1 .color {
    color: #d95600;
}
.footer .f-content .cities-list ul {
    padding-left: 97px;
}
.footer .f-content .cities-list li {
    color: #010101;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 9px;
}
.footer .f-event-list {
    margin-top: 46px;
    max-height: 563px;
    overflow: hidden;
}
.footer .f-event-list .fix-holder {
    margin-left: 87px;
}
.footer .f-event-list .fix-holder-2 {
    margin-left: 24px;
}
.footer .f-event-list h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 0;
}
.footer .f-event-list ul {
    margin-top: 10px;
    padding-right: 18px;
    padding-left: 0;
}
.footer .f-event-list ul li {
    font-weight: 300;
    font-family: "Roboto";
    line-height: 18px;
    margin-bottom: 2px;
}
.footer .f-event-list ul li p {
    max-height: 36px;
    overflow: hidden;
}
.footer .mobile-social h3 {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-right: 33px;
    line-height: 23px;
}
.footer .mobile-social .soc-folow {
    margin-top: 10px;
    position: relative;
    left: -12px;
    top: 3px;
    text-align: center;
}
.footer .mobile-social .soc-folow .image-holder {
    margin-bottom: 26px;
}
.footer .mobile-social .soc-folow .image-holder img {
    height: 374px;
    width: 189px;
}
.footer .mobile-social .soc-folow a:hover img {
    opacity: .8;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
.footer .f-brand-desc {
    font-size: 22px;
    text-decoration: none;
    color: #000;
    font-family: "Roboto";
    font-weight: 100;
}
.footer .f-bott-nav {
    text-align: right;
}
.footer .f-bott-nav li a {
    font-size: 22px;
    text-decoration: none;
    color: #000;
    font-family: "Roboto";
    font-weight: 100;
}
/*////top-bunner//////*/
.top-bunner {
    text-align: center;
    height: 190px;
}

/*//user-line//*/
.user-line {
    background: #fff;
}
.user-line .left-block {
    float: left;
    padding-left: 111px;
    position: relative;
    padding-bottom: 20px;
}
.user-line .navbar-default {
    border: none;
    margin-bottom: 0;
}
.user-line .left-block h1 {
    font-family: Roboto;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #010101;
    margin-top: 24px;
    margin-bottom: 0px;
}
.user-line .left-block h1 .color {
    color: #d95600;
}
.user-line .left-block h2 {
    color: black;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 16px;
}
.user-line .logo-block {
    position: absolute;
    left: 20px;
    top: 20px;
    padding-bottom: 31px;
}
.user-line .logo-block:after {
    content: "";
    width: 99px;
    height: 11px;
    background-color: #f1f1f1;
    bottom: 0px;
    left: -12px;
    position: absolute;
}
.user-line .left-block .caret,
.user-line .right-block .caret {
    color: #909090;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.user-line .right-block .caret {
    margin-left: 11px;
}
.user-line .btn-default {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding-left: 0;
}
.user-line .right-block {
    float: right;
}
.user-line .right-block .image-holder {
    height: 69px;
    width: 69px;
    margin-top: 32px;
    float: right;
    margin-right: 9px;
}
.user-line .btn-default {
    background: transparent;
}
.user-line .right-block .btn-default  {
    padding-top: 1px;
    margin-right: 0;
    padding-right: 7px;
}
.user-line .btn-default:hover,
.user-line .btn-default:focus,
.user-line .btn-default:active,
.user-line .btn-default.active,
.user-line .open > .dropdown-toggle.btn-default {
    background: #fff;
    outline: none;
    box-shadow: none;
}
.user-line .open > .dropdown-menu {
    border-radius: 0;
}
.user-line .navbar-right input {
    border: none;
    box-shadow: none;
    padding-right: 5px;
    padding-top: 14px;
}
.user-line .navbar-right button {
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff;
    outline: none;
}
.user-line .navbar-right  {
    border-bottom: 4px solid #e8e8e8;
}
.user-line form.navbar-form.navbar-left {
    margin-bottom: 0;
    margin-top: 7px;
    padding-right: 3px;
}
.user-line .navbar-right input::-webkit-input-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
.user-line .navbar-right input::-moz-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
.user-line .navbar-right input:-moz-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
}
.user-line .navbar-right input:-ms-input-placeholder {
    text-align: right;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;

}

/*//main-navbar//*/
.main-navbar {
    margin-left: -22px;
}
.main-navbar .navbar-nav > li > a {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 19px;
    padding-top: 15px;
    padding-bottom: 27px;
}
.main-navbar .navbar-nav > li.active > a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 99px;
    height: 11px;
    background-color: #d95600;
}
.main-navbar .navbar-default .navbar-nav > .active > a,
.main-navbar .navbar-default .navbar-nav > .active > a:hover,
.main-navbar .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

/*//week-events//*/


/*////days-pager//*/
.days-pager {
    padding-top: 40px;
}
.days-pager h1 {
    color: #454545;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    margin-left: 6px;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
}
.days-pager ul {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
}
.days-pager ul li {
    padding-right: 14px;
    padding-left: 8px;
    text-align: center;
    position: relative;
}
.days-pager ul li:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #d3d3d3;
    right: 1px;
    bottom: 7px;
}
.days-pager ul li:last-child:after {
    display: none;
}
.days-pager ul li p {
color: #454545;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 24px;
    margin-top: 6px;
}
.days-pager ul li span {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
}
.days-pager ul li.active span {
    color: #d95600;
}


/*////events-block//*/
.events-block .events-holder {
    width: 985px;
    background: #000;
    margin-left: 7px;
    padding-left: -7px;
    float: left;
}
.events-block .events-wraper {
    margin-top: -7px;
    margin-left: -7px;
    margin-bottom: -7px;
    width: 999px;
    float: left;
}
.events-block .banners-wraper {
    float: left;
}
.events-block .event-plit {
    margin: 7px;
    float: left;
    height: 450px;
    width: 234px;
    position: relative;
}
.events-block .event-plit > .image-holder {
    position: absolute;
}
.events-block .event-plit .content-holder {
    z-index: 1;
    position: relative;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+40,000000+100&0+49,0.71+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 40%, rgba(217,217,217,0) 49%, rgba(0,0,0,0.71) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5000000',GradientType=0 ); /* IE6-9 */
}
.events-block .event-plit.lg {
    width: 489px;
}
.banners-wraper .side-bunner-1 {
    height: 450px;
    margin-bottom: 14px;
    margin-left: 14px;
}
.banners-wraper .side-bunner-2 {
    margin-bottom: 14px;
    margin-left: 14px;
}
.banners-wraper .side-bunner-2 > .image-holder {
    height: 176px;
}
/*/social-holder/*/
.banners-wraper .side-bunner-2 .social-holder {
    margin-top: 1px;
    height: 273px;
}
.banners-wraper .side-bunner-2 .social-holder .soc-header {
    background: #ddd;
    position: relative;
    padding-right: 30px;
}
.banners-wraper .side-bunner-2 .social-holder .bott-desc {
    background: #ddd;
    position: relative;
    padding: 6px;
    padding-left: 49px;
}
.banners-wraper .side-bunner-2 .social-holder .bott-desc p a {
    color: #282a2d;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
    margin-bottom: 4px;
    padding-top: 3px;
    text-decoration: none;
}
.banners-wraper .side-bunner-2 .social-holder .soc-header p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 0px;
    margin-left: 13px;
    padding-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 3px;
}
.banners-wraper .side-bunner-2 .social-holder .soc-header .image-holder {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
}
.banners-wraper .side-bunner-2 .social-holder .nav-tabs > li {
    width: 50%;
    text-align: center;
    border: none;
}
.banners-wraper .side-bunner-2 .social-holder .nav-tabs > li a {
    border: none;
    color: #282a2d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
    padding: 7px;
}
.banners-wraper .side-bunner-2 .social-holder .nav-tabs > li.active a {
    border-bottom: 1px solid #929292;
    color: #282a2d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
    background: #ddd;
}
.event-plit .content-holder .type-event-list {
    max-width: 162px;
    height: 204px;
    overflow: hidden;
    padding-top: 19px;
    padding-left: 11px;
}
.event-plit.lg .content-holder .type-event-list {
    padding-left: 16px;
}
.event-plit .content-holder {
    /*padding: 19px 18px 21px 16px;*/
}
.event-plit .content-holder {

}
.event-plit .content-holder .type-event-list ul li {
    margin-bottom: 6px;
}
.event-plit .content-holder .type-event-list ul li a {
    padding: 3px;
    padding-left: 9px;
    padding-right: 12px;
    border-radius: 4px;
    background: #6ebe00;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid #fff;
    text-decoration: none;
    max-width: 161px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -1.5px;
}
.event-plit .content-holder .type-event-list ul li.bg-none a {
    background: transparent;
}
.event-plit .content-holder .bott-desc {

}
.event-plit .content-holder .bott-desc h1 {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
    background: #000;
    max-width: 209px;
    display: inline-block;
    margin: 0;
    position: absolute;
    bottom: 0;
}
.event-plit .content-holder .bott-desc .h-holder {
    margin-top: 54px;
    margin-left: 7px;
    margin-bottom: 10px;
    min-height: 48px;
    max-height: 48px;
    overflow: hidden;
    position: relative;
}
.event-plit.lg .content-holder .bott-desc .h-holder {
    max-width: 420px;
    max-height: 68px;
    min-height: 68px;
    margin-left: 13px;
    margin-top: 53px;
    padding-left: 1px;
}
.event-plit.lg .content-holder .bott-desc h1 {
    font-size: 30px;
    line-height: 34px;
    max-width: 420px;
}
.event-plit .content-holder .detailed-desc-holder {
    padding-top: 24px;
    background: #fff;
    height: 122px;
    padding-left: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.event-plit.lg .content-holder .detailed-desc-holder {
    background: transparent;
}
.event-plit .content-holder .detailed-desc-holder ul li {
    position: relative;
    color: #454545;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 300;
    padding-left: 32px;
}
.event-plit .content-holder .detailed-desc-holder ul li p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: -0.1px;
}
.event-plit.lg .content-holder .detailed-desc-holder ul li {
    color: #fff;
}
.event-plit .content-holder .detailed-desc-holder ul li img {
    position: absolute;
    top: 0;
    left: 0;
}
.event-plit .content-holder .detailed-desc-holder ul li:last-child img {
    margin-left: 3px;
}
.event-plit.lg .content-holder .likes-counter {
    bottom: 19px;
    top: auto;
    right: 19px;
}

/*//insftitutions//*/
.insftitutions h1 {
    color: #454545;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 14px;
}
.insftitutions .insftitutions-plit {
    height: 460px;
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;

}
.insftitutions .insftitutions-plit .content-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+22,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(240,249,255,0) 0%, rgba(240,249,255,0.14) 22%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(240,249,255,0.14) 22%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(240,249,255,0) 0%,rgba(240,249,255,0.14) 22%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 121px;
    overflow: hidden;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder img {
    margin-top: 30px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.strawberry img {
    display: inline-block;
    margin-top: 24px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.coffee img {
    margin-top: 15px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.cup img {
    margin-top: 10px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.hi-h img {
    margin-top: 29px;
}
.insftitutions .insftitutions-plit .content-holder .round-icon-holder.bear img  {
    margin-top: 11px;
}
.insftitutions .insftitutions-plit .content-holder h1 {
    background: rgba(0, 0, 0, 0.63);
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: -0.1px;
    line-height: 34px;
    padding-top: 0px;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 4px;
    max-height: 72px;
    min-height: 72px;
    overflow: hidden;
}
.insftitutions .insftitutions-plit .content-holder .small-desc-holder {
    text-align: center;
    margin-top: 46px;
}
.insftitutions .insftitutions-plit .content-holder .small-desc-holder p {
    color: white;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    max-height: 67px;
    overflow: hidden;
}
/*//events-strip//*/
.events-strip {
    margin-bottom: 6px;
}
.strip-block {
    height: 514px;
    background: #e5e5e5;
    margin-top: 7px;
    margin-bottom: 14px;
    position: relative;
    padding-top: 114px;
}
.strip-block.edit-choice {
    border: 3px solid #3d95c2;
}
.strip-block.grn {
    border-color: #6ebe00;
}
.strip-block.lg {
    height: 778px;
    padding-top: 0;
}
.strip-block.orng {
    border: 3px solid #f95500;
}
.strip-block.dashed {
    border: 2px dashed black;
    padding-top: 0;
}
.strip-block.xs {
    height: 251px;
    padding-top: 0;
}
/*.strip-block.day-foto {
    height: 247px;
}*/
.strip-block .top-part {
    position: absolute;
    top: 0;
    max-height: 133px;
    width: 100%;
    background: #e5e5e5;
    z-index: 1;
}
.strip-block .img-part {
    height: 198px;
    position: relative;
}
.strip-block .img-part .img-wraper  {
    position: absolute;
    bottom: 0;
}
.strip-block .img-part .content-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+40,000000+100&0+49,0.71+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 40%, rgba(217,217,217,0) 49%, rgba(0,0,0,0.71) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5000000',GradientType=0 ); /* IE6-9 */
}
.strip-block .img-part .content-holder .likes-counter {
    bottom: 9px;
    right: 15px;
    top: auto;
}
.strip-block .img-part .content-holder .likes-counter span {
    font-family: Lora;
    font-style: italic;
}
.strip-block .bott-part {
    text-align: left;
    padding: 5px 18px 21px 18px;
}
.strip-block .bott-part p {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-height: 85px;
    overflow: hidden;
}
.strip-block .bott-part .ev-list {
    margin-top: 24px;
}
.strip-block .bott-part .ev-list li {
    color: #454545;
    font-family: Lora;
    font-size: 12px;
    font-style: italic;
    padding-left: 26px;
    position: relative;
    margin-bottom: 7px;
}
.strip-block .bott-part .ev-list li img {
    position: absolute;
    left: 0;
    top: -10px;
}
.strip-block .bott-part .ev-list li img.type-1 {
    top: -2px;
}
.strip-block .bott-part .ev-list li img.type-2 {
    left: -2px;
}
.strip-block .bott-part .ev-list li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 98%;
    display: inline-block;
}
.strip-block .top-part .h-holder {
    text-align: center;
}
.strip-block.edit-choice .top-part .h-holder h5 {
    margin-top: 2px;
}
.strip-block .top-part .h-holder h5 {
    color: #454545;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    margin-top: 14px;
    line-height: 24px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.strip-block .top-label {
    text-align: center;
}
.strip-block .top-label img {
    width: 138px;
    display: inline-block;
    margin-top: 14px;
    margin-left: 4px;
}
.strip-block.edit-choice .top-label img {
    margin-top: 6px;
    margin-left: -1px;
    width: 170px;
}
/*//registration//*/
.strip-block .registration {
    padding: 25px;
    outline: 3px solid #959595;
    outline-offset: -19px;
    height: 100%;
}
.strip-block .registration h4 {
    color: #454545;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}
.strip-block .registration ul {
    margin-top: 34px;
}
.strip-block .registration ul li {
    position: relative;
    padding-left: 61px;
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;

}
.strip-block .registration ul li img {
    position: absolute;
}
.strip-block .registration ul li img.msg {
    left: 5px;
    top: -7px;
}
.strip-block .registration ul li img.hrts {
    left: 5px;
    top: -14px;
}
.strip-block .registration ul li img.mails {
    left: 15px;
    top: 3px;
}
/*//poster//*/
.strip-block .poster {
    padding: 11px 17px 30px 12px;
    overflow: auto;
    height: 100%;
}
.strip-block .poster h4 {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-right: 15px;
    margin-left: 19px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 12px;
}
/*.strip-block .poster .t-label {
    position: absolute;
    bottom: 17px;
    left: 63px;
}*/
.strip-block .poster ul li {
    padding-left: 43px;
    position: relative;
    margin-bottom: 14px;
}
.strip-block .poster ul li .date {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 38px;
    max-height: 40px;
    overflow: hidden;
}
.strip-block .poster p.type-1,
.strip-block .poster .date {
color: #454545;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0px;
}
.strip-block .poster p.type-2 {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 3px;
}
.strip-block .advice {
    padding: 18px 21px 30px 18px;
    height: 95%;
    overflow: hidden;
}
.strip-block .advice h4 {
    color: #454545;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
    line-height: 24px;
    margin-bottom: 1px;
}
.strip-block .advice p {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.strip-block .advice .second-block h4 {
    margin-bottom: 20px;
    margin-right: 12px;
}
.strip-block .advice .second-block p {
    text-align: center;

}
/*//films//*/
.strip-block .films {
    padding: 12px 43px 55px 51px;
    position: relative;
}
.strip-block .films h4 {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.strip-block .films ul li {
    margin-bottom: 13px;
}
.strip-block .films .image-holder {
    height: 116px;
    margin-bottom: 5px;
}
.strip-block .films .film-desc {
    max-height: 67px;
    overflow: hidden;
}
.strip-block .films .film-desc span {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
.strip-block .films .film-desc p {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
}
.strip-block .films .poster-likes {
    margin-top: 8px;
}
.strip-block .films .t-label {
    bottom: -51px;
    left: 74px;
}
/*//day-foto//*/
.day-foto {
    padding-top: 6px;
}
.day-foto .image-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.day-foto h1 {
    color: black;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    z-index: 1;
    margin-top: 0;
    position: relative;
    text-align: center;
}
.day-foto h2 {
    color: white;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    z-index: 1;
    margin-top: 0;
    position: relative;
    text-align: center;
}
.day-foto p {
    position: relative;
    z-index: 1;
    color: #454545;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    margin-top: 88px;
    text-align: center;
}
/*news*/
.news {
    padding: 12px 21px 59px 14px;
    overflow: auto;
    height: 100%;
}
.news .news-body {
    position: relative;
}
.news h4 {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    line-height: 27px;
    margin-top: 5px;
}
.news ul li {
    margin-bottom: 12px;
}
.news .news-item span {
    color: #454545;
    font-family: Lora;
    font-size: 14px;
    font-style: italic;
}
.news .news-item p {
    color: #454545;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    max-width: 221px;
    line-height: 17px;
    margin-top: 2px;
    margin-bottom: 1px
}
.news .t-label {
    bottom: -33px;
    left: 47px;
}
/*//weather-holder//*/
.weather-holder {
    position: relative;
    z-index: 1;
    width: 200px;
    margin: 0 auto;
}
.weather-holder > * {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}
.weather-holder ul li {
    padding-right: 68px;
    margin-bottom: 14px;
    position: relative;
}
.weather-holder ul li img {
    position: absolute;
    right: -2px;
    top: 0;
}
.weather-holder .left-part {
    float: left;
    max-width: 48%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.weather-holder .right-part {
    float: left;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
}

/*//inst-card//*/
.inst-card {
    margin-top: 100px;
}
.inst-card .main-foto {
    padding-top: 14px;
    padding-left: 17px;
    margin-bottom: 15px;
}
.inst-card h1 {
    color: #454545;
    font-family: Roboto;
    font-weight: 700;
    line-height: 18px;
    font-size: 30px;
}
.inst-card-desc {
    margin-left: 37px;
    position: relative;
    padding-right: 40px;
}
.inst-card h1 small {
    font-size: 24px;
    display: block;
    color: #454545;
    margin-top: 10px;
}
.inst-card .imhere-label {
    position: absolute;
    width: 209px;
    height: 62px;
    background-color: #d95600;
    border-radius: 3px;
    color: white;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 21px;
    padding-left: 33px;
    right: 0;
    top: 2px;
}
.inst-card hr {
    border-color: #666;
}
.inst-card .info-list {
    margin-top: 31px;
}
.inst-card .info-list ul {
    padding-left: 0;
}
.inst-card .info-list li span {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    color: #8f8f8f;
    margin-right: 4px;
}
.inst-card .info-list li span.value {
    color: #454545;
}
.inst-card .counters-bord {
    position: relative;
    padding-right: 40px;
}
.inst-card .counters-bord .general-counter {
    position: absolute;
    right: -24px;
    top: -9px;
    text-align: right;
}
.inst-card .counters-bord .general-counter span {
    display: block;
}
/*//about-inst//*/
.nav-holder {
    text-align: center;
}
.nav-holder .inst-mini-nav {
    display: inline-block;
}
.nav-holder .inst-mini-nav ul li a  {
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 100;
    padding-left: 8px;
    padding-right: 5px;
}
.nav-holder .inst-mini-nav ul li.active a  {
    color: #d95600;
}
.about-inst .g-desc-body {
    margin-top: 40px;
    color: black;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.about-inst .general-description  {
    padding-left: 20px;
    padding-right: 37px;
}
.about-inst .general-description h6 {
    margin-top: 13px;
    text-align: center;
    font-size: 14px;
}
.about-inst .general-description ul {
    padding-left: 0;
}
.about-inst .general-description ul li {
    line-height: 18px;
    margin-bottom: 12px;
}
.about-inst .general-fotos .fotos-holder {
    position: relative;
    left: -13px;   
}
.about-inst .general-fotos ul {
    padding-left: 0;
    text-align: center;
}
.about-inst .general-fotos ul li {
    display: inline-block;
    margin: 2px;
    padding-right: 55px;
}
.about-inst .general-fotos ul li .image-holder {
    width: 194px;
    height: 170px;
}

/*//inst-location//*/
.inst-location h1.type-1 {
    margin-top: 24px;
    margin-bottom: 4px;
}
.inst-location hr.type-1 {
    margin-top: 2px;
}
.inst-location .map-holder {
    padding-left: 18px;
    margin-right: 19px;
}
.inst-location .map-wraper {
    height: 320px;
    margin-top: 27px;
    overflow: hidden;
}
.inst-location .map-wraper #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.inst-location .m-plank {
    margin-bottom: 78px;
}
.inst-location .pin-desc {
    background: #fff;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 7px;
}
.inst-location .pin-desc img {
    margin-right: 3px;
}
.inst-location .pin-desc span {
    color: #454545;
    font-family: Roboto;
    font-weight: 100;
}

/*//inst-reviews//*/
.inst-reviews h1.type-1 {
    margin-top: 17px;
}
.inst-reviews-list {
    margin-top: 34px;
    padding-right: 97px;
    margin-bottom: 97px;
}
.inst-reviews-list ul {
    padding-left: 0;
}
.inst-reviews-list ul li {
    position: relative;
    padding-left: 131px;
    margin-bottom: 44px;
}
.inst-reviews-list ul li .image-holder {
    height: 67px;
    width: 67px;
    position: absolute;
    left: 31px;
    top: 4px;
    border-radius: 50%;
}
.inst-reviews-list ul li .review-head {
    font-family: Lora;
    font-weight: 400;
    color: black;
    font-size: 16px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inst-reviews-list ul li .review-head span {
    font-weight: bold;
    margin-right: 6px;
    min-width: 220px;
    display: inline-block;
    max-width: 450px;
    white-space: nowrap;
}
.inst-reviews-list ul li .review-head time {
    color: #929292;
    font-size: 14px;
    white-space: nowrap;
}
.inst-reviews-list ul li .text-holder {
    margin-top: 12px;
}
.inst-reviews-list ul li .text-holder p {
    color: black;
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
/*//visitors-block//*/
.visitors-block h5 {
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.visitors-block .visitors-holder {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.visitors-block .visitors-holder.second {
    margin-top: 50px;
}
.visitors-block .visitors-wraper {
    margin-left: 23px;
    margin-top: 34px;
}
.visitors-block ul {
    padding-left: 0;
}
.visitors-block ul li {
    margin-bottom: 23px;
}
.visitors-block ul li .visitor-item {
    position: relative;
}
.visitors-block ul li .image-holder {
    height: 67px;
    width: 67px;
    border-radius: 50%;
    position: relative;
}
.visitors-block ul li .visitor-item .sign-holder {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #454545;
    top: 46px;
    left: -9px;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 4px;
}
.visitors-block ul li .visitor-item .sign-holder.rght {
    right: -7px;
    top: 45px;
    left: auto;
}
.visitors-block ul li .visitor-item .sign-holder img {
    height: 17px;
    width: 20px;
}

/*//////////////main-filters////////////////*/
.main-filters .main-dropdown {
    margin-top: 40px;
    margin-bottom: 6px;
}
.main-filters .main-dropdown button {
    color: #454545;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    padding-left: 0;
}
.main-filters button {
    background: transparent;
    border: 0;
} 
.main-filters button:focus,
.main-filters button:hover,
.main-filters button:active,
.main-filters .btn-default:active:hover,
.main-filters .open > .dropdown-toggle.btn-default:focus,
.main-filters .open > .dropdown-toggle.btn-default.focus {
    box-shadow: none;
    outline: none;
    background: transparent;
}
.main-filters .main-dropdown .btn .caret {
 border-right: 8px solid transparent;
    border-left: 9px solid transparent;
    color: #515151;
    border-top: 9px dashed;
    position: relative;
    top: -5px;
    right: -3px;
}
.main-filters .dropdowns-line {
    background: #fff;
    padding-right: 55px;
    position: relative;
}
.main-filters .dropdowns-line .f-icon {
    position: absolute;
    top: 17px;
    right: 25px;
}
.main-filters .dropdowns-line button {
    background: transparent;
    border-radius: 0;
    min-width: 290px;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    position: relative;
    height: 52px;
    padding-left: 21px;
}
.main-filters .dropdowns-line .btn .caret {
    position: absolute;
    right: 19px;
    top: 23px;
    border-top: 9px dashed;
    border-right: 8px solid transparent;
    border-left: 10px solid transparent;
    color: #9a9a9a;
}
.main-filters .dropdowns-line button:after {
    content: "";
    height: 36px;
    width: 1px;
    position: absolute;
    top: 9px;
    right: -4px;
    background: url(../img/icons/filters-line-gray.png);
}
.main-filters .dropdowns-line li.last .dropdown button {
    min-width: 241px;
}
.main-filters .dropdowns-line li.last .f-icon {
    position: absolute;
    right: 0;
    top: 0; 
}
.main-filters .open > .dropdown-menu {
    border-radius: 0;
}
.main-filters .dropdown-menu li a {
    height: 52px;
    color: #454545;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    line-height: 20px;
    line-height: 47px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}
/*//inst-sorting//*/
.inst-sorting {
    margin-top: 84px;
}
.inst-sorting h1.type-1 .color {
    color: #f95500;
}
.inst-sorting .sorts-line .sorts-bttns {
    float: left;
}
.inst-sorting .sorts-line .sorts-bttns span {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    color: #454545;
    vertical-align: middle;
}
.inst-sorting .sorts-line .sorts-bttns .spans-group {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}
.inst-sorting .sorts-line .sorts-bttns .spans-group .strng {
    width: 24px;
    height: 4px;
    background-color: #606060;
    display: block;
    margin-bottom: 3px;
}
.inst-sorting .sorts-line .sorts-bttns .spans-group.active .strng,
.inst-sorting .sorts-line .sorts-bttns .spans-group.active .cb {
    background-color: #f59360;
}
.inst-sorting .sorts-line .sorts-bttns .spans-group .cb {
    width: 5px;
    height: 4px;
    background-color: #606060;
    display: block;
    line-height: 0;
    float: left;
    margin: 2px;
}
.inst-sorting .sorts-line .sorts-urls {
    float: right;
}
.inst-sorting .sorts-line .sorts-urls ul li {
    margin-left: 25px;
}
.inst-sorting .sorts-line .sorts-urls ul li a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    color: #454545;
    text-decoration: none;
}
.inst-sorting .sorts-line .sorts-urls ul li.active a {
    color: #d95600;
}


/*////main-inst-list////*/
.main-inst-list {
    margin-top: 25px;
}
.main-inst-list .list-item {
    height: 514px;
    background: #e5e5e5;
    margin-bottom: 25px;
}
/*.main-inst-list .list-item .image-holder {
    height: 198px;
}*/
.main-inst-list .list-item .img-part {
    position: relative;
    height: 198px;
}
.main-inst-list .list-item .img-part .img-wraper {
    position: absolute;
    bottom: 0;
}
.main-inst-list .list-item .img-part .ins-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 40%, rgba(217,217,217,0) 49%, rgba(0,0,0,0.71) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 40%,rgba(217,217,217,0) 49%,rgba(0,0,0,0.71) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5000000',GradientType=0 );
}
.main-inst-list .list-item .img-part .likes-counter {
    top: 138px;
    right: 15px;
    text-align: center;
}
.main-inst-list .list-item .img-part .likes-counter span {
    color: white;
    font-family: Lora;
    font-size: 14px;
    font-style: italic;
}
.main-inst-list .list-item .inst-label-holder {
    text-align: center;
}
.main-inst-list .list-item .content-holder h1 {
    text-align: center;
    color: #454545;
    font-family: Lora;
    font-size: 20px;
    font-weight: 100;
    margin-top: 4px;
    margin-left: 11px;
}
.main-inst-list .list-item .content-holder {
    padding-left: 22px;
    padding-right: 29px;
}
.main-inst-list .list-item .content-holder p {
    height: 132px;
    overflow: hidden;
    color: black;
    font-family: Lora;
    font-size: 14px;
    font-weight: 100; 
    line-height: 17px;
}
.main-inst-list .list-item .side-desc-holder{
    padding-left: 17px;
    margin-top: 34px;
}
.main-inst-list .list-item .side-desc-holder ul {
    padding-left: 0;
}
.main-inst-list .list-item .side-desc-holder ul li {
    padding-left: 33px;
    position: relative;
    margin-bottom: 11px;
}
.main-inst-list .list-item .side-desc-holder ul li span {
    color: #454545;
    font-family: Lora;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
    display: block;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main-inst-list .list-item .side-desc-holder ul img {
    position: absolute;
    left: 0px;
    top: 2px;
}
.main-inst-list .list-item .side-desc-holder ul img.img-1 {
    top: -2px;
    left: 4px;
}
.main-inst-list .list-item .side-desc-holder ul img.img-2 {
    top: 3px;
    left: 4px;
}
/*//////////main-inst-list list-type-2////////////*/
.main-inst-list.list-type-2 .list-item {
    height: 198px;
    position: relative;
    padding-left: 300px;
    margin-bottom: 38px;
}
.main-inst-list.list-type-2 .list-item .img-part {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
}
.main-inst-list.list-type-2 .list-item .content-holder {
    padding-top: 18px;
    max-width: 630px;
}
.main-inst-list.list-type-2 .list-item .content-holder h1 {
    text-align: left;
    margin-left: 0;
    margin-bottom: 16px;
}
.main-inst-list.list-type-2 .list-item .content-holder p {
    line-height: 18px;
    max-height: 108px;
    overflow: hidden;
}
.main-inst-list.list-type-2 .list-item .content-holder h1 small {
    display: block;
}
.main-inst-list.list-type-2 .list-item .side-desc-holder {
    position: absolute;
    top: 25px;
    right: 38px;
}
.main-inst-list.list-type-2 .list-item .side-desc-holder:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 122px;
    background-color: #666;
    top: -2px;
    left: 1px;
}
/*//////main-pagination/////////////*/
.main-pagination {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    color: #d95600;
}
.main-pagination .pagin-list li {
    line-height: 12px;
}
.main-pagination .pagin-list li a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    color: #000;
    text-decoration: none;
}
.main-pagination .pagin-list li.active a {
    color: #d95600;
}