 <!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>events-edit</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/media.css">
		<link rel="stylesheet" href="css/jquery.Jcrop.css">
	</head>
	<body>
		
		<div class="page-wraper">
			<section class="top-bunner">
				<div class="container">
					<div class="row">
						<div class="image-holder">
							<img src="img/content/top-bunner.jpg" alt="">
						</div>
					</div>
				</div>
			</section>

			<section class="user-line">
				<div class="container">
					<div class="row">
						<div class="left-block">
							<div class="logo-block">
								<img src="img/icons/main-logo.png" alt="">
							</div>
							<h1>
								Follow <span class="color">Event</span>
							</h1>
							<h2>
								ПУТЕВОДИТЕЛЬ ПО РАЗВЛЕЧЕНИЯМ
							</h2>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Иваново
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="#">Иваново</a></li>
									<li><a href="#">Иваново</a></li>
									<li><a href="#">Иваново</a></li>
									<li><a href="#">Иваново</a></li>
								</ul>
							</div>
						</div>
						<div class="right-block">
							<div class="user-holder">
								<div class="image-holder">
									
								</div>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Личный кабинет
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="#">Контантин Константинов</a></li>
										<li><a href="#">Контантин Константинов</a></li>
										<li><a href="#">Контантин Константинов</a></li>
										<li><a href="#">Контантин Константинов</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="main-navbar">
							<nav class="navbar navbar-default">
							  <div class="container-fluid">
								<div class="navbar-header">
								  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								  </button>
								</div>

								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								  <ul class="nav navbar-nav">
									<li class="active"><a href="#">Рестораны<span class="sr-only">(current)</span></a></li>
									<li><a href="#">Бары</a></li>
									<li><a href="#">Клубы</a></li>
									<li><a href="#">Кино</a></li>
									<li><a href="#">ТЦ</a></li>
									<li><a href="#">Фитнес</a></li>
									<li><a href="#">Музеи</a></li>

									<li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Еще ...</a>
									  <ul class="dropdown-menu">
										<li><a href="#">Клубы</a></li>
										<li><a href="#">Клубы</a></li>
										<li><a href="#">Клубы</a></li>
										<li><a href="#">Клубы</a></li>
										<li><a href="#">Клубы</a></li>
									  </ul>
									</li>
								  </ul>
								  <ul class="nav navbar-nav navbar-right">
									  <form class="navbar-form navbar-left" role="search">
										<div class="form-group">
										  <input type="text" class="form-control" placeholder="Поиск">
										</div>
										<button>
											<img src="img/icons/find-icon.png" alt="">
										</button>
									  </form>
								  </ul>
								</div><!-- /.navbar-collapse -->
							  </div><!-- /.container-fluid -->
							</nav>
						</div>
					</div>
				</div>
			</section>


			<section class="reg-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>
								Личный кабинет
							</h1>
						</div>
					</div>
				</div>
			</section>

			<section class="about-inst red">
				<div class="container">
					<div class="white-wraper gray">
						<div class="row">
							<div class="col-md-12">
								<div class="nav-holder">
									<div class="inst-mini-nav">
										<ul class="list-inline">
											<li class="active"><a href="">Профиль</a></li>
											<li><a href="">Профиль заведения</a></li>
											<li><a href="">События</a></li>
											<li><a href="">Избранное</a></li>
											<li><a href="">Сообщения</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="registration-form pers-area">
				<div class="container">
					<div class="white-wraper">
						<div class="row">
							<div class="col-md-5">
								<div class="image-block">
									<div class="image-input">
										<div class="row-fluid">
											<div class="span9">
												<div class="image-holder">
													<img src="img/content/141113101125.jpg" id="target" alt="Jcrop Image" />
												</div>
											</div>
										</div>
										<div class="img-info">
											<p>
												Фотография формата PNG илиJPG, размером не более 5Мб
											</p>
										</div>
										<div class="file form-group">
											<input id="image-input" type="file" name="file" id="file" required />
											<label for="file">Загрузить фотографию</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<form action="">
									<div class="inputs-holder">
										<div class="form-group important">
											<div class="side-desc">
												Название события
											</div>
											<input type="text" placeholder="Акция! Бизнес ланч!">
										</div>
										<div class="form-group important">
											<div class="side-desc">
												Дата, время
											</div>
											<div class="input-holder">
												<input type="text" placeholder="16.09.2015-16.10.2015">
												<i class="fa fa-clock-o"></i>
											</div>
										</div>
										<div class="form-group important">
											<div class="side-desc">
												Контактный телефон 
											</div>
											<div class="input-holder">
												<input type="text" placeholder="8916-8732299">
												<i class="fa fa-phone"></i>
											</div>
										</div>
										<div class="form-group">
											<div class="side-desc">
												Сайт события
											</div>
											<div class="input-holder">
												<input type="text">
												<i class="fa fa-globe"></i>
											</div>
										</div>
										<div class="form-group">
											<div class="side-desc">
												Стоимость
											</div>
											<div class="input-holder">
												<input type="text" placeholder="200р.">
											</div>
										</div>
										<div class="form-group">
											<div class="side-desc">
												Видео
											</div>
											<div class="input-holder">
												<input type="text" >
												<i class="fa fa-youtube"></i>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-12">
								<form action="">
									<div class="event-desc">
										<div class="desc-holder">
											<p>
												Описание собятия 
											</p>
											<textarea></textarea>
											<div class="text-limit">
												<span>3000</span>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="creating-galery">
				<div class="container">
					<div class="white-wraper">
						<div class="row">
							<div class="col-md-12">
								<div class="galery-header">
									<h1>Галерея</h1>
									<hr class="type-1">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-wrap">
									<div class="form-holder">
										<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
										    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
										    <div class="row fileupload-buttonbar">
										        <div class="col-lg-12 text-center">
										            <span class="fileinput-button">
										                <span>Добавить фотографии</span>
										                <input type="file" name="files[]" multiple>
										            </span>
										            <button type="submit" class="start">
										                <span>Загрузить все добавленные</span>
										            </button>
										            <button type="reset" class="btn btn-warning cancel">
										                <span>Cancel upload</span>
										            </button>
										            <button type="button" class=" delete">
										                <span>Удалить все</span>
										            </button>
										            <input type="checkbox" class="toggle">
										            <span class="fileupload-process"></span>
										        </div>
										        <div class="col-lg-5 fileupload-progress fade">
										            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
										                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
										            </div>
										            <div class="progress-extended">&nbsp;</div>
										        </div>
										    </div>
										    <table role="presentation" class="table table-striped">
										    	<tbody class="files"></tbody>
										    </table>
										</form>
									</div>
								</div>
								<div class="galery-top-btns">
									<ul class="list-inline">
										<li>
											<a href="">
												<span class="btn-holder">еще событие</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="btn-holder grn">Сохранить событие</span>
											</a>
										</li>
										<li>
											<a href="">
												<span class="btn-holder red">Удалить  событие</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- The blueimp Gallery widget -->
				<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
				    <div class="slides"></div>
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				</div>
			</section>


			<section class="footer spring">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="search-line">
								<div class="h-holder">
									<h1>
										Подпишитесь на рассылку
									</h1>
									<h2>
										Каждую неделю мы рассказываем вам о событиях города  выставках, концертах, спектаклях!
									</h2>
								</div>
								<form>
									<div class="form-group">
										<input type="text" placeholder="Введите e-mail">
										<a href="">
											<div class="icon-holder">
												<img src="img/icons/plane-icon.png" alt="">
											</div>
										</a>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="row f-content">
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="f-logo">
								<img src="img/icons/main-logo.png" alt="">
								<h1>
									<span>горо<span class="color">да!</span></span>
								</h1>
							</div>
							<div class="cities-list">
								<ul class="list-unstyled">
									<li><a href="">Иваново</a></li>
									<li><a href="">Москва</a></li>
									<li><a href="">Томск</a></li>
									<li><a href="">Омск</a></li>
									<li><a href="">Краснодар</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 sm-hiden">
							<div class="f-event-list">
								<div class="fix-holder">
									<h3>
										события
									</h3>
									<ul>
										<li>
											<p>
												<a href="">Концерт группы "SKILLET"  В клубе 'Территория'</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">Акция в магазине "эльШарм" каждая вторая майка бесплатно!</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">Легендарный ночной квест! От байк-клуба "Ночные волки" покори город!</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<p>
												<a href="">СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</a>
											</p>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 sm-hiden">
							<div class="f-event-list">
								<div class="fix-holder-2">
									<h3>
										Заведения
									</h3>
									<ul>
										<li>
											<a href=""><p>Концерт группы "SKILLET"  В клубе 'Территория'</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>Акция в магазине "эльШарм" каждая вторая майка бесплатно!</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>Легендарный ночной квест! От байк-клуба "Ночные волки" покори город!</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
										<li>
											<a href=""><p>СПА! Салон Глория предлагает  вашему  вниманию  новую СПА процедуру</p></a>
											<div class="poster-likes">
												<a href="">
													<span>9655</span>
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div class="mobile-social">
								<h3>
									Самый удобный способ выбрать как провести вечер!
								</h3>
								<div class="soc-folow">
									<div class="image-holder">
										<img src="img/icons/main-mobile.png" alt="">
									</div>
									<ul class="list-inline">
										<li><a href=""><img src="img/icons/googl-plus-s-icon.png" alt=""></a></li>
										<li><a href=""><img src="img/icons/facebook-s-icon.png" alt=""></a></li>
										<li><a href=""><img src="img/icons/vk-s-icon.png" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row f-top-bord">
						<div class="col-md-6 col-sm-5">
							<div class="f-brand-desc">
								<a href="">
									<span>
										© FOLLOW EVENT  2015
									</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-7">
							<div class="f-bott-nav">
								<ul class="list-inline">
									<li><a href="3">О проекте</a></li>
									<li><a href="">Заведения</a></li>
									<li><a href="">События</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		
		<script src="js/vendor/jquery-2.1.4.min.js"></script>
		<script src="js/vendor/jquery-ui.min.js"></script>
		<script src="js/vendor/jquery.Jcrop.js"></script>
		<script src="js/vendor/select2.min.js"></script>
		<script src="js/init_jcrop.js"></script>
		<script>
			$(".js-example-basic-multiple").select2();
		</script>


		<script id="template-upload" type="text/x-tmpl">
			{% for (var i=0, file; file=o.files[i]; i++) { %}
			    <tr class="template-upload fade">
			        <td>
			            <span class="preview"></span>
			        </td>
			        <td>
			            <p class="name">{%=file.name%}</p>
			            <strong class="error text-danger"></strong>
			        </td>
			        <td>
			            <p class="size">Processing...</p>
			            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
			        </td>
			        <td class="text-right">
			            {% if (!i && !o.options.autoUpload) { %}
			                <button class="start" disabled>
			                	<i class="fa fa-download"></i>
			                    <span class="mb-hd">загрузить</span>
			                </button>
			            {% } %}
			            {% if (!i) { %}
			                <button class="cancel">
			                	<i class="fa fa-stop-circle-o"></i>
			                    <span class="mb-hd">отменить</span>
			                </button>
			            {% } %}
			        </td>
			    </tr>
			{% } %}
		</script>
			<!-- The template to display files available for download -->
		<script id="template-download" type="text/x-tmpl">
			{% for (var i=0, file; file=o.files[i]; i++) { %}
			    <tr class="template-download fade">
			        <td>
			            <span class="preview">
			                {% if (file.thumbnailUrl) { %}
			                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
			                {% } %}
			            </span>
			        </td>
			        <td>
			            <p class="name">
			                {% if (file.url) { %}
			                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
			                {% } else { %}
			                    <span>{%=file.name%}</span>
			                {% } %}
			            </p>
			            {% if (file.error) { %}
			                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
			            {% } %}
			        </td>
			        <td>
			            <span class="size">{%=o.formatFileSize(file.size)%}</span>
			        </td>
			        <td class="text-right">
			            {% if (file.deleteUrl) { %}
			                <button class="delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			                	<i class="fa fa-chain-broken"></i>
			                    <span class="mb-hd">Удалить</span>
			                </button>
			                <input type="checkbox" name="delete" value="1" class="toggle">
			            {% } else { %}
			                <button class="cancel">
			                    <span class="mb-hd">отменить</span>
			                </button>
			            {% } %}
			        </td>
			    </tr>
			{% } %}
		</script>
		<!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
		<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
		<script src="js/vendor/jquery.ui.widget.js"></script>
		<!-- The Templates plugin is included to render the upload/download listings -->
		<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
		<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
		<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
		<!-- The Canvas to Blob plugin is included for image resizing functionality -->
		<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
		<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- blueimp Gallery script -->
		<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
		<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
		<script src="js/js-upload/jquery.iframe-transport.js"></script>
		<script src="js/js-upload/jquery.fileupload.js"></script>
		<script src="js/js-upload/jquery.fileupload-process.js"></script>
		<script src="js/js-upload/jquery.fileupload-image.js"></script>
		<script src="js/js-upload/vendor/jquery.ui.widget.js"></script>
		<!--script src="js/js-upload/jquery.fileupload-jquery-ui.js"></script-->
		<script src="js/js-upload/jquery.fileupload-ui.js"></script>
		<script src="js/js-upload/cors/jquery.postmessage-transport.js"></script>
		<script src="js/js-upload/cors/jquery.xdr-transport.js"></script>
		<script src="js/js-upload/vendor/jquery.ui.widget.js"></script>
		<script src="js/js-upload/main.js"></script>
	</body>
</html>
